[Desktop Entry]
Categories=Network;InstantMessaging;
Comment=Signal Private Messenger for Linux
Exec=signal-desktop --use-tray-icon --start-in-tray
Icon=signal-desktop
Name=Signal-Tray
StartupNotify=true
StartupWMClass=Signal
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
