[Desktop Entry]
Categories=Utility;
Comment=The break time reminder app
Exec=/opt/Stretchly/stretchly %U
Icon=stretchly
Name=Stretchly
StartupWMClass=Stretchly
Terminal=false
Type=Application
