[Desktop Entry]
Type=Application
Categories=Network;InstantMessaging;
Comment=Signal - Private Messenger starting hidden
Comment[de]=Signal - Sicherer Messenger
Exec=signal-desktop --use-tray-icon --start-in-tray -- %u
Icon=signal-desktop
Keywords=sgnl;chat;im;messaging;messenger;sms;security;privat;
Name=Signal-Tray
StartupNotify=true
StartupWMClass=Signal
Terminal=false
X-GNOME-UsesNotifications=true
