
adapter_index = 0
aspect_ratio = -1
borderless_fullscreen = false
fullscreen = true
fullscreen_output = 0
keybindings = {
	keyboard_mouse = {
		activate = {
			key = "mouse_left"
			state = "pressed"
		}
		activate_toggled_magick = {
			key = "mouse_right"
			state = "pressed"
		}
		activate_up = {
			key = "mouse_left"
			state = "released"
		}
		arcane = {
			key = "s"
			state = "pressed"
		}
		cast_magick = {
			key = "space"
			state = "pressed"
		}
		cold = {
			key = "r"
			state = "pressed"
		}
		cursor = {
			key = "mouse_cursor"
			state = "axis"
		}
		do_move = {
			key = "mouse_left"
			state = "button"
		}
		earth = {
			key = "d"
			state = "pressed"
		}
		fire = {
			key = "f"
			state = "pressed"
		}
		imbue_weapon = {
			filter = {
				default_controller = "mouse"
				filter_name = "FilterCombineHoldPress"
				hold_button = {
					controller_type = "keyboard"
					key = "left shift"
				}
				press_button = "right"
			}
			state = "filter"
		}
		left = {
			key = "mouse_left"
			state = "pressed"
		}
		life = {
			key = "w"
			state = "pressed"
		}
		lightning = {
			key = "a"
			state = "pressed"
		}
		magick1 = {
			key = "1"
			state = "pressed"
		}
		magick1_up = {
			key = "1"
			state = "released"
		}
		magick2 = {
			key = "2"
			state = "pressed"
		}
		magick2_up = {
			key = "2"
			state = "released"
		}
		magick3 = {
			key = "3"
			state = "pressed"
		}
		magick3_up = {
			key = "3"
			state = "released"
		}
		magick4 = {
			key = "4"
			state = "pressed"
		}
		magick4_up = {
			key = "4"
			state = "released"
		}
		magick_tier1 = {
			filter = {
				default_controller = "mouse"
				filter_name = "FilterCombineHoldPress"
				hold_button = {
					controller_type = "keyboard"
					key = "1"
				}
				press_button = "right"
			}
			state = "filter"
		}
		magick_tier2 = {
			filter = {
				default_controller = "mouse"
				filter_name = "FilterCombineHoldPress"
				hold_button = {
					controller_type = "keyboard"
					key = "2"
				}
				press_button = "right"
			}
			state = "filter"
		}
		magick_tier3 = {
			filter = {
				default_controller = "mouse"
				filter_name = "FilterCombineHoldPress"
				hold_button = {
					controller_type = "keyboard"
					key = "3"
				}
				press_button = "right"
			}
			state = "filter"
		}
		magick_tier4 = {
			filter = {
				default_controller = "mouse"
				filter_name = "FilterCombineHoldPress"
				hold_button = {
					controller_type = "keyboard"
					key = "4"
				}
				press_button = "right"
			}
			state = "filter"
		}
		melee_attack = {
			filter = {
				default_controller = "mouse"
				filter_name = "FilterCombineHoldPress"
				hold_button = {
					controller_type = "keyboard"
					key = "left shift"
				}
				press_button = "right"
			}
			state = "filter"
		}
		pause = {
			key = "esc"
			state = "pressed"
		}
		revive_message = {
			key = "mouse_right"
			state = "pressed"
		}
		select_magick_template = {
			key = "mouse_right"
			state = "pressed"
		}
		shield = {
			key = "e"
			state = "pressed"
		}
		spell_aoe = {
			filter = {
				default_controller = "mouse"
				filter_name = "FilterCombineHoldPress"
				hold_button = {
					controller_type = "keyboard"
					key = "left shift"
				}
				press_button = "middle"
			}
			state = "filter"
		}
		spell_forward = {
			filter = {
				default_controller = "mouse"
				filter_name = "FilterCombineHoldPress"
				hold_button = {
					controller_type = "keyboard"
					key = "left shift"
				}
				invert = true
				press_button = "right"
			}
			state = "filter"
		}
		spell_forward_hold = {
			filter = {
				button_button = "right"
				default_controller = "mouse"
				filter_name = "FilterCombineHoldButton"
				hold_button = {
					controller_type = "keyboard"
					key = "left shift"
				}
				invert = true
			}
			state = "filter"
		}
		spell_self = {
			filter = {
				default_controller = "mouse"
				filter_name = "FilterCombineHoldPress"
				hold_button = {
					controller_type = "keyboard"
					key = "left shift"
				}
				invert = true
				press_button = "middle"
			}
			state = "filter"
		}
		spell_self_channel = {
			key = "mouse_middle"
			state = "button"
		}
		stop_move = {
			key = "left ctrl"
			state = "pressed"
		}
		twist_free = {
			key = "mouse_left"
			state = "pressed"
		}
		water = {
			key = "q"
			state = "pressed"
		}
	}
	pad360 = {
		abort_select_magick = {
			key = "pad_b"
			state = "pressed"
		}
		activate = {
			key = "pad_left_shoulder"
			state = "released"
		}
		aim = {
			key = "pad_right"
			state = "axis"
		}
		arcane = {
			filter = {
				default_controller = "pad"
				filter_name = "FilterCombineHoldPress"
				hold_button = "left_shoulder"
				invert = true
				press_button = "y"
			}
			state = "filter"
		}
		cold = {
			filter = {
				default_controller = "pad"
				filter_name = "FilterCombineHoldPress"
				hold_button = "left_shoulder"
				press_button = "a"
			}
			state = "filter"
		}
		deselect_magick_template = {
			key = "pad_y"
			state = "pressed"
		}
		earth = {
			filter = {
				default_controller = "pad"
				filter_name = "FilterCombineHoldPress"
				hold_button = "left_shoulder"
				invert = true
				press_button = "b"
			}
			state = "filter"
		}
		element_switch = {
			key = "pad_left_shoulder"
			state = "button"
		}
		fire = {
			filter = {
				default_controller = "pad"
				filter_name = "FilterCombineHoldPress"
				hold_button = "left_shoulder"
				invert = true
				press_button = "a"
			}
			state = "filter"
		}
		gpad_magick1 = {
			key = "pad_d_left"
			state = "pressed"
		}
		gpad_magick2 = {
			key = "pad_d_up"
			state = "pressed"
		}
		gpad_magick3 = {
			key = "pad_d_right"
			state = "pressed"
		}
		gpad_magick4 = {
			key = "pad_d_down"
			state = "pressed"
		}
		gpad_magick_hold = {
			key = "pad_left_trigger"
			state = "pressed"
		}
		gpad_magick_hold_up = {
			key = "pad_left_trigger"
			state = "released"
		}
		imbue_weapon = {
			key = "pad_right_trigger"
			state = "pressed"
		}
		life = {
			filter = {
				default_controller = "pad"
				filter_name = "FilterCombineHoldPress"
				hold_button = "left_shoulder"
				press_button = "y"
			}
			state = "filter"
		}
		lightning = {
			filter = {
				default_controller = "pad"
				filter_name = "FilterCombineHoldPress"
				hold_button = "left_shoulder"
				invert = true
				press_button = "x"
			}
			state = "filter"
		}
		melee_attack = {
			key = "pad_right_trigger"
			state = "pressed"
		}
		move = {
			key = "pad_left"
			state = "axis"
		}
		open_magick_menu1 = {
			filter = {
				default_controller = "pad"
				filter_name = "FilterCombineHoldPress"
				hold_button = "left_shoulder"
				press_button = "d_left"
			}
			state = "filter"
		}
		open_magick_menu2 = {
			filter = {
				default_controller = "pad"
				filter_name = "FilterCombineHoldPress"
				hold_button = "left_shoulder"
				press_button = "d_up"
			}
			state = "filter"
		}
		open_magick_menu3 = {
			filter = {
				default_controller = "pad"
				filter_name = "FilterCombineHoldPress"
				hold_button = "left_shoulder"
				press_button = "d_right"
			}
			state = "filter"
		}
		open_magick_menu4 = {
			filter = {
				default_controller = "pad"
				filter_name = "FilterCombineHoldPress"
				hold_button = "left_shoulder"
				press_button = "d_down"
			}
			state = "filter"
		}
		pause = {
			key = "pad_start"
			state = "pressed"
		}
		revive_message = {
			key = "pad_a"
			state = "pressed"
		}
		scroll = {
			key = "pad_right"
			state = "axis"
		}
		select_magick = {
			key = "pad_a"
			state = "pressed"
		}
		select_magick_template = {
			key = "pad_x"
			state = "pressed"
		}
		shield = {
			filter = {
				default_controller = "pad"
				filter_name = "FilterCombineHoldPress"
				hold_button = "left_shoulder"
				press_button = "b"
			}
			state = "filter"
		}
		spell_aoe = {
			key = "pad_left_trigger"
			state = "pressed"
		}
		spell_forward = {
			key = "pad_right"
			state = "axis"
		}
		spell_self = {
			key = "pad_right_shoulder"
			state = "pressed"
		}
		spell_self_channel = {
			key = "pad_right_shoulder"
			state = "button"
		}
		trigger_magick = {
			key = "pad_right_trigger"
			state = "released"
		}
		twist_free = {
			key = "pad_right_trigger"
			state = "pressed"
		}
		water = {
			filter = {
				default_controller = "pad"
				filter_name = "FilterCombineHoldPress"
				hold_button = "left_shoulder"
				press_button = "x"
			}
			state = "filter"
		}
	}
	padps4 = {
		abort_select_magick = {
			key = "pad_circle"
			state = "pressed"
		}
		activate = {
			key = "pad_l1"
			state = "released"
		}
		aim = {
			key = "pad_right"
			state = "axis"
		}
		arcane = {
			filter = {
				default_controller = "pad"
				filter_name = "FilterCombineHoldPress"
				hold_button = "l1"
				invert = true
				press_button = "triangle"
			}
			state = "filter"
		}
		cold = {
			filter = {
				default_controller = "pad"
				filter_name = "FilterCombineHoldPress"
				hold_button = "l1"
				press_button = "cross"
			}
			state = "filter"
		}
		deselect_magick_template = {
			key = "pad_triangle"
			state = "pressed"
		}
		earth = {
			filter = {
				default_controller = "pad"
				filter_name = "FilterCombineHoldPress"
				hold_button = "l1"
				invert = true
				press_button = "circle"
			}
			state = "filter"
		}
		element_switch = {
			key = "pad_l1"
			state = "button"
		}
		fire = {
			filter = {
				default_controller = "pad"
				filter_name = "FilterCombineHoldPress"
				hold_button = "l1"
				invert = true
				press_button = "cross"
			}
			state = "filter"
		}
		gpad_magick1 = {
			key = "pad_left"
			state = "pressed"
		}
		gpad_magick2 = {
			key = "pad_up"
			state = "pressed"
		}
		gpad_magick3 = {
			key = "pad_right"
			state = "pressed"
		}
		gpad_magick4 = {
			key = "pad_down"
			state = "pressed"
		}
		gpad_magick_hold = {
			key = "pad_l2"
			state = "pressed"
		}
		gpad_magick_hold_up = {
			key = "pad_l2"
			state = "released"
		}
		imbue_weapon = {
			key = "pad_r2"
			state = "pressed"
		}
		life = {
			filter = {
				default_controller = "pad"
				filter_name = "FilterCombineHoldPress"
				hold_button = "l1"
				press_button = "triangle"
			}
			state = "filter"
		}
		lightning = {
			filter = {
				default_controller = "pad"
				filter_name = "FilterCombineHoldPress"
				hold_button = "l1"
				invert = true
				press_button = "square"
			}
			state = "filter"
		}
		melee_attack = {
			key = "pad_r2"
			state = "pressed"
		}
		move = {
			key = "pad_left"
			state = "axis"
		}
		open_magick_menu1 = {
			filter = {
				default_controller = "pad"
				filter_name = "FilterCombineHoldPress"
				hold_button = "l1"
				press_button = "left"
			}
			state = "filter"
		}
		open_magick_menu2 = {
			filter = {
				default_controller = "pad"
				filter_name = "FilterCombineHoldPress"
				hold_button = "l1"
				press_button = "up"
			}
			state = "filter"
		}
		open_magick_menu3 = {
			filter = {
				default_controller = "pad"
				filter_name = "FilterCombineHoldPress"
				hold_button = "l1"
				press_button = "right"
			}
			state = "filter"
		}
		open_magick_menu4 = {
			filter = {
				default_controller = "pad"
				filter_name = "FilterCombineHoldPress"
				hold_button = "l1"
				press_button = "down"
			}
			state = "filter"
		}
		pause = {
			key = "pad_options"
			state = "pressed"
		}
		revive_message = {
			key = "pad_cross"
			state = "pressed"
		}
		scroll = {
			key = "pad_right"
			state = "axis"
		}
		select_magick = {
			key = "pad_cross"
			state = "pressed"
		}
		select_magick_template = {
			key = "pad_square"
			state = "pressed"
		}
		shield = {
			filter = {
				default_controller = "pad"
				filter_name = "FilterCombineHoldPress"
				hold_button = "l1"
				press_button = "circle"
			}
			state = "filter"
		}
		spell_aoe = {
			key = "pad_l2"
			state = "pressed"
		}
		spell_forward = {
			key = "pad_right"
			state = "axis"
		}
		spell_self = {
			key = "pad_r1"
			state = "pressed"
		}
		spell_self_channel = {
			key = "pad_r1"
			state = "button"
		}
		trigger_magick = {
			key = "pad_r2"
			state = "released"
		}
		trigger_magick_touch = {
			key = "pad_touch"
			state = "pressed"
		}
		twist_free = {
			key = "pad_r2"
			state = "pressed"
		}
		water = {
			filter = {
				default_controller = "pad"
				filter_name = "FilterCombineHoldPress"
				hold_button = "l1"
				press_button = "square"
			}
			state = "filter"
		}
	}
}
keybindings_version = 2
render_settings = {
	bloom_enabled = true
	debug_render_voxels = false
	debug_rendering = false
	disable_soft_particles = false
	dof_enabled = true
	fog_enabled = true
	fxaa_enabled = true
	fxaa_high = true
	fxaa_low = false
	fxaa_medium = false
	g_tessellation = 1
	g_tessellation_detail = 1
	g_tessellation_tri_size = 8
	gbuffer_albedo_luminance_visualization = false
	gbuffer_albedo_visualization = false
	gbuffer_ao_visualization = false
	gbuffer_fill_albedo = false
	gbuffer_glossiness_visualization = false
	gbuffer_normal_visualization = false
	gbuffer_rim_light_visualization = false
	gbuffer_self_illumination_visualization = false
	gbuffer_shadow_mask_visualization = false
	gbuffer_specular_visualization = false
	generate_cubemap = false
	half_res_effects_enabled = false
	light_accumulation_alpha_visualization = false
	light_accumulation_rgb_visualization = false
	lighting = true
	local_lights_cast_shadows = true
	local_lights_enabled = true
	particles_cast_shadows = false
	particles_local_lighting = true
	particles_receive_shadows = true
	particles_tessellation = true
	shadow_map_cube_size = [
		256
		256
	]
	shadow_map_size = [
		2048
		2048
	]
	shadow_mapping_enabled = true
	smaa_enabled = false
	smaa_high = true
	smaa_low = false
	smaa_medium = false
	ssao_enabled = true
	voxel_cone_tracing = false
	water_refraction_enabled = true
	water_shimmer_enabled = true
}
screen_resolution = [
	3840
	2160
]
vsync = true
